@import url('https://fonts.googleapis.com/css?family=Exo:400,700');


#positionOfLogin{
    position: fixed;
    left: 33%;
    top: 30%;
    text-align: center;
    background-color: #C8C8C8;
    width: 500px;
    border-radius: 10px;
    opacity: 65%;
}

.MyInput{
    border-radius: 10px;
    padding: 12px 14px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #6D6E80;
    font-family: 'Open Sans', sans-serif;
    text-indent: 5px;
    transition: all 0.6s ease;
    display: inline;
    width: 300px;
}

input:hover{
    padding: 14px 16px;
}

::placeholder{color: #bdbdd3;}

p{
    color: red;
    text-align: left;
    margin-left: 1.5em;
    font-size: 10pt;
}
#register_page{
    color: #6D6E80;
    text-align: center;
    font-size: 12pt;
    padding-bottom: 20px;
}
.MyButton{
    text-align: center;
    background: #6D6E80;
    border: 0px solid transparent;
    border-radius: 10px;
    padding: 8px 14px;
    /*box-sizing: border-box;*/
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    text-indent: 0px;
    transition: all 0.6s ease;
    display: inline;
    width: 300px;
}
div #forget_password a{
    padding-right: 28px;
    padding-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #6D6E80;
}

.MyButton:hover{
    background: #403866;
    transition: .6s;
}
.login_signup a{
    color: #6D6E80;
    font-weight: bold;
}


.area{
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height:100%;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
