/*body {*/
/*    !*background-image: url("../../images/verify.jpg");*!*/
/*    font: 14px Microsoft YaHei;*/
/*    -webkit-text-size-adjust:100%;*/
/*    -moz-user-select: none;*/
/*    -webkit-user-select: none;*/
/*    user-select: none;*/
/*    position: relative;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    overflow: hidden;*/
/*    font-family: 'Open Sans', sans-serif;*/
/*}*/

.MyForm
{
    width: 320px;
    box-sizing: border-box;
    position: fixed;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1
{
    text-align: center;
    color: #817ffe;
    font-size: 20pt;
    margin-bottom: 30px;
}

input
{
    float: left;
    width: 100%;
    background: #ecf1f4;
    border: 1px solid #ecf1f4;
    border-radius: 26px;
    padding: 12px 14px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 14px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    text-indent: 5px;
    transition: all 0.6s ease;
}

.MyInput
{
    width: 100%;
    background: #ecf1f4;
    border: 1px solid #ecf1f4;
    border-radius: 26px;
    padding: 12px 14px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 14px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    text-indent: 5px;
    transition: all 0.6s ease;
    opacity: 80%;
}

input:hover
{
    padding: 14px 16px;
}
span{
    float: left;
    color: red;
    margin-left: 1.5em;
    font-size: 9pt;
    font-family: "Open Sans", sans-serif;
}

button
{
    background: #817ffe;
    border: 0;
    cursor: pointer;
    color: #f3ffff;
    border-radius: 26px;
    padding: 12px 135px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    opacity: 80%;

}
button:hover{ background: #403866; transition: .6s;}

 

#reason {
    height:300px;
}
::placeholder{
    color:white;
    opacity: 1;
    text-align: center;
    padding-right: 15px;
}

#reqimage img{
    height: 858px;

}