/*body{*/
/*    background-image: url("../../images/verify.jpg");*/
/*    background-size: 100% 100%;*/
/*}*/

#positionOfLogin{
    position: relative;
    top: 200px;
    text-align: center;
    background-color: #bdbdd3;
    width: 500px;
    border-radius: 10px;
    opacity: 70%;
}

.MyInput{
    border-radius: 10px;
    /*padding: 12px 14px;*/
    margin-bottom: 20px;
    font-size: 14px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-indent: 5px;
    transition: all 0.6s ease;
    display: inline;
    width: 300px;
}

input:hover{
    padding: 14px 16px;
}

::placeholder{color: #bdbdd3;}

p{
    color: red;
    text-align: left;
    margin-left: 1.5em;
    font-size: 10pt;
}
#forget_pass{
    font-size: 18pt;
    color: cornflowerblue;
    padding-top: 20px;
}
.MyButton{
    text-align: center;
    background: cornflowerblue;
    border: 0px solid transparent;
    border-radius: 10px;
    /*padding: 1px 14px;*/
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    text-indent: 0px;
    transition: all 0.6s ease;
    display: inline;
    width: 300px;
}

.MyButton:hover{
    background: #403866;
    transition: .6s;
}
